<div class="row" id="user-menu">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2"><%= link_to "Favorites", favorites_sales_path, id: "favorites_sales", class: "btn", remote: true%></div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2"><%= link_to "Your sales", current_user_sales_sales_path, id: "current_user_sales", class: "btn", remote: true %></div>
</div>
<div id="wrapper-all"></div>

