<h1><%= @user.username %></h1>
<ul><% @user.favorites.each do |f| %>
	<li>
		<%= f.title %>
		<% f.photos.each do |photo| %>
			<%= link_to image_tag(photo.image.thumb('180x180#').url, class: 'img-thumbnail'),
          photo.image.remote_url, target: '_blank' %>
		<% end %>
	</li>
	<% end %>
</ul>

