<div class="col-md-3" id='<%= photo.id %>'>
	<%= link_to image_tag(photo.image.thumb('180x180#').url, class: 'img-thumbnail'),
    photo.image.remote_url, target: '_blank' %>
  <%= link_to "remove", sale_photo_path(photo.sale, photo), method: :delete, remote: :true %>
</div>