@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

body {
	padding-top: 70px;
}

.center_div {
	margin: 0 auto;
	width:80%;
}

.check_label {
	margin-left: 5px;
}

.thumbnail img {
  height: 180px;
}

// Google map //
#map {
  min-width: 500px;
  min-height: 200px;
}
