@import "bootstrap";
@import 'bootstrap/theme';
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
  font: bold "Istok Web", sans-serif;
  text-decoration: none;
}

#main-header {
  color: #fff;
  font-size: 60px;
}

#main-header+p {
  color: #fff;
  font-size: 18px;
}

#main-headers {
  margin-top: 70px;
}

#main-search {
  height: 45px ;
  width: 80% ;
  margin: 0 auto;
  font-size: 16px;
  display: inline;
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#main-search-btn {
  font-size: 16px;
  display: inline;
  height: 45px;
  width: 100px;
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#search-wrapper {
  height: 100px;
  background: rgba(0,0,0,0.6);
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
  padding: 30px;
}

body {
	padding-top: 10px;
}

.session-link {
  color: #fff;
}

.session-links {
  padding-top: 15px;
}

.transperent-nav {
  background-color: transparent;
}

.center_div {
	margin: 0 auto;
	width:80%;
}

.nav-links {
  padding-right: 10px;
}

.check_label {
	margin-left: 5px;
}

#photos-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 272px;
    max-height: 272px;
    margin-bottom: 10px;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
    p {
      margin: 0;
      height: 40px;
      overflow: hidden;
    }
  }
}

.progress-wrapper {
  display: none;
}

#dropzone {
  background: palegreen;
  width: 600px;
  text-align: center;
  font-weight: bold;
  height: 200px;
  line-height: 50px;
  border: 1px solid darken(palegreen, 10%);
  @include border-radius(10px);
  margin: 0 auto 20px;
}
 
#dropzone.in {
  width: 1000px;
  height: 300px;
  line-height: 200px;
  font-size: larger;
}
 
#dropzone.hover {
  background: lawngreen;
  border: 1px solid darken(lawngreen, 10%);
}
 
#dropzone.fade {
  @include transition-property(all);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-out);
  @include opacity(1);
}

#file-field {
  display: none;
}

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}
