<a href="/sales/<%= sale.id %>"><div><%= sale.address %></div>
<div><% sale.photos.each do |photo| %></div>
	<div><%= link_to image_tag(photo.image.thumb('180x180#').url, class: 'img-thumbnail'),
      sale_path(sale) %></div></a>
  <% end %>
